a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

#footer {
  margin-top: 5px;
  margin-bottom: 20px;
}

.poem_image {
  display: none;
}

.social-icon {
  height: 25px;
  margin: 0 10px 0 10px;
  width: 25px;
