extends layout

block content
  #banner.page-header
    .row
      .col-lg-12
        h1 News

  div(id='news')
    .row
      .col-xs-12.col-sm-8
        html.
        <h2><i>An Absence of, An Earnest</i> available from Finishing Line Press</h2>
      .col-xs-12.col-sm-8
        a(href='https://www.finishinglinepress.com/product/an-absence-of-an-earnest-by-james-maynard/')
          img(id="absence-of-an-earnest" src='/images/maynard_james_poetry.jpg' alt='Absence of An Earnest')
        p 2017, Finishing Line Press.  Cover art by Adam Bacher
      .col-xs12.col-sm-8
        p This chapbook length lyrical elegy examines the death of a close friend from the distance of a decade.
