extends layout

block content
  #banner.page-header
    .row
      .col-lg-12
        h1 Poems
          h4 Poems published online &amp; available
  .row
    .col-xs-12.col-sm-8
      a(href='')
        p.lead [POEM TITLE]
          small &nbsp; ~ at [PUBLICATION NAME]

    .col-xs-12.col-sm-8
      a(href='')
        p.lead [POEM TITLE]
          small &nbsp; ~ at [PUBLICATION NAME]

    .col-xs-12.col-sm-8
      a(href='')
        p.lead [POEM TITLE]
          small &nbsp; ~ at [PUBLICATION NAME]

    .col-xs-12.col-sm-8
      a(href='')
        p.lead [POEM TITLE]
          small &nbsp; ~ at [PUBLICATION NAME]

    .col-xs-12.col-sm-8
      a(href='')
        p.lead [POEM TITLE]
          small &nbsp; ~ at [PUBLICATION NAME]
