extends layout

block content
  #banner.page-header
    .row
      .col-lg-12
        h1 Poems
          h4 Poems published online &amp; available
  .row
    .col-xs-12.col-sm-8
      a(href='http://greenmountainsreview.com/two-poems-11/')
        p.lead Two Poems
          small &nbsp; ~ at Green Mountains Review
    .col-xs-12.col-sm-8
      a(href='http://bareknucklepoet.com/j-kirk-maynard-three-poems/')
        p.lead Three Poems
          small &nbsp; ~ at Bareknuckle Poet
    .col-xs-12.col-sm-8
      a(href='http://crackthespine.com/2013/07/issue-seventy-one-contributors.html')
        p.lead Laura Speaks to Gifford
          small &nbsp; ~ at Crack the Spine
    .col-xs-12.col-sm-8
      a(href='http://issuu.com/millscollege/docs/580_split')
        p.lead The Anxiety of Place Names
          small &nbsp; ~ at 580-Split
    .col-xs-12.col-sm-8
      a(href='http://dialogist.org/v1i3-j-kirk-maynard/')
        p.lead Variations on the 'Under Bryant Park'
          small &nbsp; ~ at Dialogist
    .col-xs-12.col-sm-8
      a(href='http://kudzureview.com/3.2.pdf')
        p.lead State Road 88, Eastbound : Apache Junction, Arizona
          small &nbsp; ~ at Kudzu Review
    .col-xs-12.col-sm-8
      a(href='http://whitewhalereview.com/issues/2.3/poetry/maynard')
        p.lead What'dhegetinto
          small &nbsp; ~ at White Whale Review
    .col-xs-12.col-sm-8
      a(href='http://whitewhalereview.com/issues/2.1/poetry/maynard')
        p.lead Three Poems After Oppen
          small &nbsp; ~ at White Whale Review
    .col-xs-12.col-sm-8
      a(href='http://masonsroad.com/issue-4/poetry-issue-4-2/statue-sketch-nick-saban-bryant-denny-stadium/')
        p.lead Statue Sketch : Nick Saban : Tuscaloosa, Alabama
          small &nbsp; ~ at Mason's Road
