doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= 'James Maynard | Poetry'
    link(rel='stylesheet', href='bootstrap/css/journal.bootstrap.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    .navbar.navbar-default.navbar-fixed-top
     .container
       .navbar-header
         a.navbar-brand(href='/') James Maynard
         button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
           span.icon-bar
           span.icon-bar
           span.icon-bar
       #navbar-main.navbar-collapse.collapse
         ul.nav.navbar-nav
          li
            a(href='/about') About

   .container
     block content

     footer.navbar-fixed-bottom(id="footer")
       .container
         .row
           .col-xs-12
             James Maynard 2016 |
                a(href='http://www.twitter.com/jkirkmaynard')   @JKirkMaynard


  script(src='/javascripts/jquery-1.12.4.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/javascripts/scripts.js')
