extends layout

block content
  #banner.page-header
    .row
      .col-lg-12
        h1 Poems
          h4 Poems published online &amp; available
  div(id='poems')
    .row
      .col-xs-12.col-sm-8
        .row
          a(href='http://greenmountainsreview.com/two-poems-11/')
            p.lead(id='two_poems' class='poem') Two Poems
              small &nbsp; ~ at Green Mountains Review
        .row
          a(href='http://bareknucklepoet.com/j-kirk-maynard-three-poems/')
            p.lead(id='three_poems' class='poem') Three Poems
              small &nbsp; ~ at Bareknuckle Poet
        .row
          a(href='http://crackthespine.com/2013/07/issue-seventy-one-contributors.html')
            p.lead(id='laura_speaks' class='poem') Laura Speaks to Gifford
              small &nbsp; ~ at Crack the Spine
        .row
          a(href='http://issuu.com/millscollege/docs/580_split')
            p.lead(id='anxiety_of_place' class='poem') The Anxiety of Place Names
              small &nbsp; ~ at 580-Split
        .row
          a(href='http://dialogist.org/v1i3-j-kirk-maynard/')
            p.lead(id='bryant_park' class='poem') Variations on the 'Under Bryant Park'
              small &nbsp; ~ at Dialogist
        .row
          a(href='http://kudzureview.com/3.2.pdf')
            p.lead(id='apache_junction' class='poem') State Road 88, Eastbound : Apache Junction, Arizona
              small &nbsp; ~ at Kudzu Review
        .row
          a(href='http://whitewhalereview.com/issues/2.3/poetry/maynard')
            p.lead(id='whatdhegetinto' class='poem') What'dhegetinto
              small &nbsp; ~ at White Whale Review
        .row
          a(href='http://whitewhalereview.com/issues/2.1/poetry/maynard')
            p.lead(id='oppen_poems' class='poem') Three Poems After Oppen
              small &nbsp; ~ at White Whale Review
        .row
          a(href='http://www.masonsroad.com/?page_id=4345')
            p.lead(id='nick_saban' class='poem') Statue Sketch : Nick Saban : Tuscaloosa, Alabama
              small &nbsp; ~ at Mason's Road
      .col-xs-12.col-sm-4
        div(id='author')
          img(id='author_photo' src='/images/author_photo.jpg')
          p.small(id='author_photo_text') The author, in Vermont

        .row
          div(id='image_two_poems').poem_image
            p.lead from <i>Pipedream : Lincoln City, California</i>
            p Tarry, then turn away. Which is my prayer.
            p Which is the length you tiptoed naked
            p to the motel door, the stale room staring out
            p to sea. Which is how I see you before
            p my father interrupts us—you & I
            p goose-flesh white or as sexed red
            p as the mermaid’s red bulbs behind
            p the neon sign that read Sea Gypsy.
        .row
          div(id='image_three_poems').poem_image
            p.lead from <i>Body of Dare Wright as Totem</i>
            p Born to gingham at the shutter-clap,
            p to the shuttered sound of camera’s click,
            p a doll feeds the pigeons. Hopes for friends.
            p Opens louvered doors into secret rooms,
            p the vanity that is someone’s vanity,
            p someone’s lipstick, peeptoes, pill-box hats—
            p but whose? Whose hand spills a vase of roses
            p over the jewelry box but blames the bear?
            p What is self before it finds the louvered doors,
            p innocent of the mirrors it was framed upon, within?
        .row
          div(id='image_laura_speaks').poem_image
            p.lead from <i>Older than i; or,</i>
            p Oh Gifford, the light is an attic light.
            p The sea is a closet in space, the earth a panting dog.
            p The world is a seedling whose germ collapses on itself
            br
            p (you may collapse on me, please, <i>now</i>.)

        .row
          div(id='image_anxiety_of_place').poem_image
            p.lead from <i>The Anxiety of Place Names</i>
            p For Thanksgiving J arrived from Sioux City pulling <i>Niobrara</i> on a leash.  O and I cooed, asking silly questions.  J spoke reverently : somehow it survived.  It was added to the lists of bare synopsis, trivial kitsch, meant for flesh-eaters and poltergeists.  I had had enough of hyperlinks and O liked to buy lamps made of jade, jute, or ivory.  The collection grew and grew.  When the man who came to sell <i>Kootenay</i> said he was Navajo, I said [ I always wanted to be Native American ].
        .row
          div(id='image_bryant_park').poem_image
            p.lead from <i>Variants on 'Under Bryant Park' Installation</i>
              p of roots. And basalt. Below and through it
              p the words dripping water hollows out—
              p dissipates—a stone.
              p Cosmic drool from the cleft hobo chin,
              br
              p the words dripping, water, hollows, out,
              p heel to hallway’s echo, echo in a head,
              p cosmic. Drool from the cleft, Hoboken,
              p compose the commuter’s passing,
              br
              p heel to hallway’s echo echoing ahead
              p a train of words reverberated so,
              p composite. Commuters passing :
              p generations gone into the century’s gait,
        .row
          div(id='image_apache_junction').poem_image
            p.lead from <i>SR 88 Eastbound: Apache Juntcion, Arizona</i>
            p Promise you’ll go through the file on me,
            p pull out my grandfather walking from Montreal to Vermont
            p unquestioned because he fit right in, the bad Puritan.
            p The way my skin goes from pink to red : I’m not native.
            p I hike up to dead volcanoes, hike right through the heart
            p where magma cooled eons ago in darkness. The walls
            p have crumbled : the sun drains all color. I halloo my name
            p against the air and the air echoes until its meaning fades.

        .row
          div(id='image_whatdhegetinto').poem_image
            p.lead from <i>what'dhegetinto&mdash;!</i>
            p The cellar’s always locked. The children have learned the root
            p    of barbed wire.
            br
            p Because the German man was a suicide, the children are more concerned
            p    with dark corners where suicides
            br
            p despair. They have begun watching the alleys behind bars
            p    for the suckling drunk.
            br
            p The cellar door is padlocked and bolted. The bolt is rusted.
            p    The wood has dry rot.
        .row
          div(id='image_oppen_poems').poem_image
            p.lead from <i>Three Poems After Oppen</i>
            p That an egg cannot be unbroken.
            p Each object in space accelerates.
            br
            p Travel <span>          </span>here.
            p What is it about
            p baby steps?<span>          </span>transport rights?
            br
            p Count one, two, three &mdash; then go!
        .row
          div(id='image_nick_saban').poem_image
            p.lead from <i>Statue Sketch : Nick Saban : Tuscaloosa, Alabama</i>
            p Which is why Coach is up there leaning shouting
            p <i>let’s go let’s go let’s go!</i> May be we’re in it for good or
            p blood or may be we’re going national from D.C.
            p to California, but they’re making sure we keep
            p our bed sheets clean. Any moment they’ll walk in,
            p asking to speak to Alabama. Sherman ain’t in it,
            p we know that. We know every God-sent puff of air
            p in July when the county’s soggy with sun and thunder.
