extends layout

block content
  #banner.page-header
    .row
      .col-lg-12
        h2 Poems
          h4 Poems published online &amp; available
  div(id='poems')
    .row
      .col-xs-12.col-sm-8
        .row
          a(href='http://otisnebula.com/otisnebula/ON12_James_Maynard.html' target="_blank")
            p.lead(id='otis' class='poem') Two Poems
              small &nbsp; ~ at Otis Nebula
        .row
          a(href='http://greenmountainsreview.com/two-poems-11/' target="_blank")
            p.lead(id='two_poems' class='poem') Two Poems
              small &nbsp; ~ at Green Mountains Review
        .row
          a(href='http://bareknucklepoet.com/j-kirk-maynard-three-poems/' target="_blank")
            p.lead(id='three_poems' class='poem') Three Poems
              small &nbsp; ~ at Bareknuckle Poet
        .row
          a(href='http://dialogist.org/v1i3-j-kirk-maynard/' target="_blank")
            p.lead(id='bryant_park' class='poem') Variations on the 'Under Bryant Park'
              small &nbsp; ~ at Dialogist
        .row
          a(href='http://whitewhalereview.com/issues/2.3/poetry/maynard' target="_blank")
            p.lead(id='whatdhegetinto' class='poem') What'dhegetinto
              small &nbsp; ~ at White Whale Review
        .row
          a(href='http://whitewhalereview.com/issues/2.1/poetry/maynard' target="_blank")
            p.lead(id='oppen_poems' class='poem') Three Poems After Oppen
              small &nbsp; ~ at White Whale Review
        .row
          a(href='http://www.masonsroad.com/?page_id=4345' target="_blank")
            p.lead(id='nick_saban' class='poem') Statue Sketch : Nick Saban : Tuscaloosa, Alabama
              small &nbsp; ~ at Mason's Road
      .col-xs-12.col-sm-4
        div(id='author')
            img(id='author_photo' src='/images/author_photo.jpg' alt="James Maynard")
            p.small(id='author_photo_text') The poet, in Vermont
        .row
          div(id='image_otis').poem_image
            p.lead from <i>Chinatown</i>
            p D says, We’re gilded-aged, Manhattan—
            p Isle of Emulates, of the Metonymies,
            p Big Apple, the Big Edamame, the Big Bean Sprout—
            br
            p not the least of which Chinatown rose
            p in <i>likeness</i> to China,
            br
            p smelling as fish on ice smell, as shrimp & mussels
            p mingle in the crates, the women
            p sifting through lychee barrels the men
            br
            p pulling down
            p the skinned duck—
        .row
          div(id='image_two_poems').poem_image
            p.lead from <i>Pipedream : Lincoln City, California</i>
            p Tarry, then turn away. Which is my prayer.
            p Which is the length you tiptoed naked
            p to the motel door, the stale room staring out
            p to sea. Which is how I see you before
            p my father interrupts us—you & I
            p goose-flesh white or as sexed red
            p as the mermaid’s red bulbs behind
            p the neon sign that read Sea Gypsy.
        .row
          div(id='image_three_poems').poem_image
            p.lead from <i>Body of Dare Wright as Totem</i>
            p Born to gingham at the shutter-clap,
            p to the shuttered sound of camera’s click,
            p a doll feeds the pigeons. Hopes for friends.
            p Opens louvered doors into secret rooms,
            p the vanity that is someone’s vanity,
            p someone’s lipstick, peeptoes, pill-box hats—
            p but whose? Whose hand spills a vase of roses
            p over the jewelry box but blames the bear?
            p What is self before it finds the louvered doors,
            p innocent of the mirrors it was framed upon, within?
        .row
          div(id='image_bryant_park').poem_image
            p.lead from <i>Variants on 'Under Bryant Park' Installation</i>
              p of roots. And basalt. Below and through it
              p the words dripping water hollows out—
              p dissipates—a stone.
              p Cosmic drool from the cleft hobo chin,
              br
              p the words dripping, water, hollows, out,
              p heel to hallway’s echo, echo in a head,
              p cosmic. Drool from the cleft, Hoboken,
              p compose the commuter’s passing,
              br
              p heel to hallway’s echo echoing ahead
              p a train of words reverberated so,
              p composite. Commuters passing :
              p generations gone into the century’s gait,
        .row
          div(id='image_whatdhegetinto').poem_image
            p.lead from <i>what'dhegetinto&mdash;!</i>
            p The cellar’s always locked. The children have learned the root
            p    of barbed wire.
            br
            p Because the German man was a suicide, the children are more concerned
            p    with dark corners where suicides
            br
            p despair. They have begun watching the alleys behind bars
            p    for the suckling drunk.
            br
            p The cellar door is padlocked and bolted. The bolt is rusted.
            p    The wood has dry rot.
        .row
          div(id='image_oppen_poems').poem_image
            p.lead from <i>Three Poems After Oppen</i>
            p That an egg cannot be unbroken.
            p Each object in space accelerates.
            br
            p Travel <span>          </span>here.
            p What is it about
            p baby steps?<span>          </span>transport rights?
            br
            p Count one, two, three &mdash; then go!
        .row
          div(id='image_nick_saban').poem_image
            p.lead from <i>Statue Sketch : Nick Saban : Tuscaloosa, Alabama</i>
            p Which is why Coach is up there leaning shouting
            p <i>let’s go let’s go let’s go!</i> May be we’re in it for good or
            p blood or may be we’re going national from D.C.
            p to California, but they’re making sure we keep
            p our bed sheets clean. Any moment they’ll walk in,
            p asking to speak to Alabama. Sherman ain’t in it,
            p we know that. We know every God-sent puff of air
            p in July when the county’s soggy with sun and thunder.
