extends layout

block content
  #banner.page-header
    .row
      .col-lg-12
        h1 Poems
          h4 Poems published online &amp; available
  div(id='poems')
    .row
      .col-xs-12.col-sm-8
        .row
          a(href='http://greenmountainsreview.com/two-poems-11/')
            p.lead(id='two_poems' class='poem') Two Poems
              small &nbsp; ~ at Green Mountains Review
        .row
          a(href='http://bareknucklepoet.com/j-kirk-maynard-three-poems/')
            p.lead(id='three_poems' class='poem') Three Poems
              small &nbsp; ~ at Bareknuckle Poet
        .row
          a(href='http://crackthespine.com/2013/07/issue-seventy-one-contributors.html')
            p.lead(id='laura_speaks' class='poem') Laura Speaks to Gifford
              small &nbsp; ~ at Crack the Spine
        .row
          a(href='http://issuu.com/millscollege/docs/580_split')
            p.lead(id='anxiety_of_place' class='poem') The Anxiety of Place Names
              small &nbsp; ~ at 580-Split
        .row
          a(href='http://dialogist.org/v1i3-j-kirk-maynard/')
            p.lead(id='bryant_park' class='poem') Variations on the 'Under Bryant Park'
              small &nbsp; ~ at Dialogist
        .row
          a(href='http://kudzureview.com/3.2.pdf')
            p.lead(id='apache_junction' class='poem') State Road 88, Eastbound : Apache Junction, Arizona
              small &nbsp; ~ at Kudzu Review
        .row
          a(href='http://whitewhalereview.com/issues/2.3/poetry/maynard')
            p.lead(id='whatdhegetinto' class='poem') What'dhegetinto
              small &nbsp; ~ at White Whale Review
        .row
          a(href='http://whitewhalereview.com/issues/2.1/poetry/maynard')
            p.lead(id='oppen_poems' class='poem') Three Poems After Oppen
              small &nbsp; ~ at White Whale Review
        .row
          a(href='http://masonsroad.com/issue-4/poetry-issue-4-2/statue-sketch-nick-saban-bryant-denny-stadium/')
            p.lead(id='nick_saban' class='poem') Statue Sketch : Nick Saban : Tuscaloosa, Alabama
              small &nbsp; ~ at Mason's Road
      .col-xs-12.col-sm-4
        div(id='author')
          img(id='author_photo' src='/images/author_photo.jpg')
          p.small(id='author_photo_text') The author, in Vermont

        .row
          p(id='image_two_poems').poem_image There will be some text here ~ oh yes there will
        .row
          p(id='image_three_poems').poem_image There will be some text here ~ oh yes there will2
        .row
          p(id='image_laura_speaks').poem_image There will be some text here ~ oh yes there will3
        .row
          p(id='image_anxiety_of_place').poem_image There will be some text here ~ oh yes there will4
        .row
          p(id='image_bryant_park').poem_image There will be some text here ~ oh yes there will5
        .row
          p(id='image_apache_junction').poem_image There will be some text here ~ oh yes there will6
        .row
          p(id='image_whatdhegetinto').poem_image There will be some text here ~ oh yes there will7
        .row
          p(id='image_oppen_poems').poem_image There will be some text here ~ oh yes there will8
        .row
          p(id='image_nick_saban').poem_image There will be some text here ~ oh yes there will9
